:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(/images/space.jpg);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border: 5px solid white;
}

.header {
  display: flex;
  border: 5px solid rebeccapurple;
}

.header .profile-photo {
  border: 5px solid white;
  margin-left: 20rem;
  margin-top: 5rem;
  justify-content: center;
}

.speechbubble {
  position: absolute;
  border: 5px solid white;
  width: 40rem;
  justify-content: center;
  margin: auto;
  background-color: gray;
  opacity: 50%;
}

.content-bar {
  display: flex;
  border: 5px solid green;
  width: 100%;
  color: white;
  justify-content: space-evenly;
}

.articlebox {
  display: flex;
  border: 5px solid orange;
}

.articlebox-header1 {
  display: flex;
  border: 5px solid yellow;
}

.footer {
  display: flex;
  border: 5px solid pink;
}

.twitter-icon {
  border-radius: 50rem;
}

.content-bar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.content-bar ul li {
}

.photo1 {
  margin: auto;
  margin-right: 10px;
}

.photo3 {
  margin-left: 10px;
}

.photo4 {
  margin-left: 10px;
}

.react-photo {
  height: 30px;
}

* {
  outline: 1px solid red;
}
