:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(/images/starsatnight.jpg);
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border: 5px solid white;
}

#header {
}

#content-bar {
  display: flex;
  border: 5px solid green;
  width: 100%;
}

.profile-photo {
  display: flex;
  border: 5px solid white;
  margin: 5%;
}

.articlebox {
  display: flex;
  border: 5px solid orange;
}

.footer {
  display: flex;
  border: 5px solid pink;
}

.twitter-icon {
  border-radius: 50rem;
}
